.header {
    max-width: 880px;
    border-bottom: 1px solid #545454;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .header {
        padding-left: 27px;
    }
}