.popup__input-name {
    height: 27px;
    width: 358px;
    border: 0;
    border-bottom: 1px solid #000000;
    align-self: center;
}
.popup__input-name:last-of-type{
    margin-top: 30px;
}

@media (max-width: 768px) {
    .popup__input-name {
        width: 238px;
    }
}