.popup__close-icon {
    width: 32px;
    height: auto;
    display: block;
    margin-left: 438px;
    margin-top: -40px;
    cursor: pointer;
    position: absolute;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .popup__close-icon {
        width: 20px;
        height: auto;
        margin-top: -36px;
        margin-left: 262px;
    }
}