@import url(../vendor/inter.css);
@import url(../vendor/normalize.css);

.root {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    background-color: #000000;;
    max-width: 1280px;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}
.popup {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); 
    display: none;
    align-items: center;
    justify-content: center;
}

.popup_opened {
    display: flex;
}

.popup__close-icon {
    width: 32px;
    height: auto;
    display: block;
    margin-left: 438px;
    margin-top: -40px;
    cursor: pointer;
    position: absolute;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

.popup__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 34px;
    margin-bottom: 54px;
    align-self: center;
    margin-right: 64px;
}

.input__text {
    height: 27px;
    width: 358px;
    border: none;
    border-bottom: 1px solid #000000;
    align-self: center;
}
.input__text:last-of-type{
    margin-top: 30px;
}



.popup__container {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 430px;
    height: 330px;
    margin: 0 auto;
}

.popup__button {
    margin-top: 48px;
    width: 358px;
    height: 50px;
    align-self: center;
    background-color: #000000;
    color: white;
}


.popup__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.input__text:active {
    border-color:  #2f80ed;
}
.header {
    max-width: 880px;
    /* border: 1px red solid; */
    border-bottom: 1px solid #545454;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-top: 45px;
    margin-bottom: 41px;
    /* border: 1px red solid; */
}

.profile {
    display: flex;
    flex-direction: row;
    /* border: 1px red solid; */
    color: white;
    max-width: 880px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 51px;
}

.profile__edit {
    display: flex;
    flex-direction: row;  
}

.profile__data-edit {
    display: flex;
    flex-direction: column;
    /* border: 1px red solid; */
}

.profile__image {
    border-radius: 50%;
    height: 120px;
    width: auto;
    margin-right: 30px;
}

.profile__name-edit {
    display: flex;
    justify-content: space-between;
    /* border: 1px red solid; */
    padding-top: 22px;
    padding-bottom: 16px;
    align-items: flex-end;
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    /* align-self: center; */
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 37px; */
    /* transition: opacity 0.5; */
    background-color: #000000;
}

.profile__edit-button:hover {
   opacity: 0.6;
   cursor: pointer;
}

.add-button {
    /* border: 1px red solid; */
}

.profile__title {
    /* margin-top: 22px;
    margin-right: 18px;
    margin-bottom: 16px; */
    margin: 0;
    height: 39px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    margin-right: 18px;
}

.profile__occupation {
    margin: 0;
    height: 18px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.profile__add-button-wrap {
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: opacity 0.5; */
    background-color: #000000;
   
}

.profile__add-button-wrap:hover {
    opacity: 0.6;
    cursor: pointer;
}

.profile__add-button {
    height: 22px;
}



.elements {
    display: grid;
    max-width: 880px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 17px;
}

.elements__card {
    width: 282px;
    height: 361px;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px red solid; */

}

.elements__image {
    width: 282px;
    /* border: 1px red solid; */
    height: 282px;
    display: block;
}

.elements__description {
    margin: 0;
    padding: 0;
    margin: 25px 15px 31px 21px;
    display: flex;
    justify-content: space-between;
    /* border: 1px red solid; */
    /* align-items: flex-end; */
    align-items: baseline;
    height: 23px;

}

.elements__text {
    margin: 0;
    /* height: 23px; */
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 193px;
    color: #000000;
    /* border: 1px red solid; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.elements__icon {
    height: 19px;
    /* border: 1px red solid; */
}

.elements__icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer {
    margin-top: 67px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 880px;
}

.footer__copyright {
   
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}
.popup__button-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}


@media (min-width: 768px) and (max-width: 1024px) {
   .elements {
    max-width: 581px;
    grid-template-columns: repeat(2, 1fr);
   } 
}

@media (max-width: 768px) {
    .header {
        padding-left: 27px;
    }

    .header__logo {
        margin-top: 28px;
        margin-bottom: 31.6px;
    }

    .profile {
        flex-direction: column;
        align-items: center;
        margin-top: 42px;
    }

    .profile__image {
    height: 120px;
    width: 120px;
    align-self: center;
    margin-right: 0;
    }

    /* .profile__title {
    margin-top: 26px;
    margin-right: 10px;
    margin-bottom: 14px;
    } */

    .profile__occupation {
        align-self: center;
        margin-bottom: 36px;
    }

    .profile__add-button-wrap {
        width: 282px;
    }
    .profile__edit {
        flex-direction: column;
    }
    .elements {
    max-width: 282px;
    grid-template-columns: 1fr;
    } 

    .footer {
    margin-top: 48px;
    margin-bottom: 36px;
    padding-left: 19px;
    }

    /* .profile__edit-button {
        margin-top: 42px;
    } */

    .popup__container {
        width: 282px;
        height: 322px;
    }

    .input__text {
        width: 238px;
    }

    .popup {
        padding-top: 123px;
    }

    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin-right: 0;
        margin-top: 34px;
        margin-bottom: 54px;
    }

    .popup__close-icon {
        width: 20px;
        height: auto;
        margin-top: -36px;
        margin-left: 262px;
    }

    .popup__button {
        width: 238px;
        margin-top: 45px;
        height: 46px;
    }

    .popup__button-text {
        font-size: 14px;
        line-height: 17px;
    }


 }
 @media (max-width: 1280px) {
    .popup {
        width: 100vw;
    }
 }

 @media (max-width: 425px) {
    .header__logo {
    width: 103.74px;
    height: 24.4px;
    }

    .profile__title {
    align-self: flex-end;
    font-size: 27px;
    line-height: 33px;
    height: 26px;
    margin-right: 10px;
    }

    .profile__name-edit {
        padding-top: 26px;
        padding-bottom: 14px;
    }

    .profile__edit-image {
        width: auto;
        height: 7.5px;
    }

    .profile__edit-button { 
        width: 18px;
        height: 18px;
        /* margin-top: 42px; */
    }

    .profile__occupation {
        font-size: 14px;
        line-height: 17px;
    }

    .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    }
 }
